
GROQ_API_KEY=
PINECONE_API_KEY=


POSTGRES_SQL_URL=

HF_TOKEN = 

# LANGSMITH_API_KEY = 
# LANGCHAIN_PROJECT = 
# LANGCHAIN_ENDPOINT = 
# LANGCHAIN_TRACING_V2 = 



LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""
LANGFUSE_HOST=""


# OpenTelemetry & Grafana Cloud Integration
OTEL_TELEMETRY_ENABLED=
OTEL_SERVICE_NAME=
OTEL_SERVICE_VERSION=
OTEL_RESOURCE_ATTRIBUTES=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=""
OTEL_EXPORTER_OTLP_HEADERS=""
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=




