GROQ_API_KEY=
PINECONE_API_KEY=
HUGGINGFACE_API_KEY=


POSTGRES_SQL_URL=

HF_TOKEN = 

LANGSMITH_API_KEY = 
LANGCHAIN_PROJECT = 
LANGCHAIN_ENDPOINT = https://api.smith.langchain.com
LANGCHAIN_TRACING_V2 = true