
GROQ_API_KEY=
PINECONE_API_KEY=


POSTGRES_SQL_URL=
HF_TOKEN = 


# for validation purpose hide langfuse and unhide langsmith

# LANGSMITH_API_KEY = 
# LANGCHAIN_PROJECT = 
# LANGCHAIN_ENDPOINT = 
# LANGCHAIN_TRACING_V2 = 



LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_HOST=


